/* Color Classes */

.gray {
  background-color: #4cc9f0;
}

.gray:hover {
  background: #E6E6E6;
}

.gray:active {
  background: #CCCCCC;
}

.red {
  background-color: #3f37c9;
}

.red:hover {
  background: #F33F3F;
}

.red:active {
  background: #D04444;
}

.blue {
  background-color: #4361ee;
}

.blue:hover {
  background: #b5179e;
}

.blue:active {
  background: #aa1293;
}

.yellow {
  background-color: #4895ef;
}

.yellow:hover {
  background: #F8D229;
}

.yellow:active {
  background: #F7CB08;
}

/* Containers */

body{
  --dot-bg: #3a0ca3;
  --dot-color: #4cc9f0;
  --dot-size: 1px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  /* background-color: #3a0ca3; */
  display: flex;
  justify-content: center;
  font-family: "DM Mono";
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 573px;
}

footer {
  font-size: 12px;
  color:#9BA6C8;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#box-container {
  display: flex;
  height: 572px;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: space-between;
}

/* Big Boxes */

#box-1 {
  display: flex;
  width: 135px;
  height: 367px;
  align-items: center;
  flex-direction: column;
}

#box-3 {
  display: flex;
  width: 427px;
  height: 367px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#box-7 {
  display: flex;
  width: 453px;
  height: 193px;
  align-items: flex-end;
}

#box-9 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 108px;
  height: 193px;
}

/* Overlaid Boxes */

.overlaid {
  position: absolute;
  z-index: 2;
}

#box-2 {
  margin-top: 10px;
  margin-left: 11px;
  width: 113px;
  height: 35px;
}

#box-4 {
  margin-top: 10px;
  margin-left: 156px;
  width: 171px;
  height: 35px;
}

#box-5 {
  margin-left: 446px;
  margin-top: 262px;
  width: 113px;
  height: 35px;
}

#box-6 {
  margin-left: 368px;
  margin-top: 310px;
  width: 191px;
  height: 44px;
}

#box-8 {
  margin-left: 10px;
  margin-top: 517px; 
  width: 191px;
  height: 44px;
}

#box-10 {
  margin-left: 528px;
  margin-top: 497px;
  width: 31px;
  height: 66px;
}

/* Controls */

#info-control {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: flex-end;
  flex-flow: row wrap;
}

button {
  display: flex;
  color: #3C486B;
  font-family: Bungee;
  font-size: 32px;

  margin-left: 10px;
  align-items: center;
  justify-content: center;
  height: 51px;
  border: 0px
}

#reset-btn span{
  display: none;
}

#play-btn {
  padding-left: 20px;
  padding-right: 20px;
}

#play-btn span {
  margin-left: 10px;
}

/* Tracker */

#tracker {
  display:none;
  margin-top: 10px;
  padding: 25px;
  background-color: #f0f0f08a;
  width: 100%;
}

#events-list {
  color: #9BA6C8;

  /* color: #3C486B; */
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */
}

#event-no{
  width: 20px;
}

#events-list > div {
  display: flex;
  align-items: center;
  height: 25px;
  margin-bottom: 8px;
}

.selected {
  background-color: #CCCCCC;
}

.bar {
  margin-left: 10px;
  padding: 2px 0px 2px 10px;
  display: block;
  height: 20px;
  width: 100px;
}

.tone {
  background-color: white;
  padding: 2px 5px;
  display: block;
  height: 20px;
  width: 20px;
}
